// ==========================================================================
// ABSTRACTS -- VARIABLES
// ==========================================================================
/* BREAKPOINTS */

$sm-breakpoint: 640px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1536px;